//variables de breakpoints
$bp-tablet: 768px;
$bp-tablet-horizontal: 1024px;
$bp-desktop: 1280px;
$bp-desktop-xl: 1536px;
$bp-desktop-xxl: 1920px;


//variables de la fuentes
$poppins: Poppins;
$belgrano: Belgrano;

//variables de color
$red: #FA504D;
$black: #2E2F38;
$silver: #8E8E8E;
$white: #FFFFFF;
